h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    border-bottom: 1px solid #E7E9FC
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.header-list {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.current {
    color: #4D5AE5;
    position: relative;
}

.nav-link.current::after {
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
}

.address-menu {
    display: flex;
    gap: 40px;
}

.address {
    margin-left: auto;
}

.address-list a {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-list a:hover,
.address-list a:focus {
    color: #404BBF;
}

.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
    max-width: 1440px;
    margin: auto;
    padding: 188px 0;
    background-image: linear-gradient( to bottom, #2E2F42B2 70%), url(../images/hero-background.jpg);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.benefits-item {
    width: calc((100% - 3 * 24px) / 4);
}

.icon-container {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid#8E8F99;
}

.benefits-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
    border-radius: 0 0 4px 4px;
    max-width: 264px;
}

.team-description {
    display: block;
    padding: 32px 16px;
}

.team-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-link {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    padding: 12px;
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
    display: flex;
}

.portfolio-item {
    max-width: 360px;
}

.portfolio-item-info {
    position: relative;
    overflow: hidden;
}

.portfolio-item-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: transform 250ms;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 164px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-item-text {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.portfolio-description {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.portfolio-description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-description-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    gap: 120px;
}

.footer-item {
    max-width: 264px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    text-transform: uppercase;
}

.footer-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.social-link-footer {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    padding: 12px;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31D0AA;
}