body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.page-nav .link {
  display: block;
  padding: 24px 0;
}
.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  margin-left: auto;
}
.header-nav .logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.text-logo {
  color: #4d5ae5;
}
.page-nav .link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link.current{
  position: relative;
}
.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom:-1px;
  background-color: #404bbf;
 width: 100%;
 height: 4px;
 border-radius: 2px;
}
.page-nav .link:hover,
.page-nav .link:focus,
.link.current {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .link {
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  transition-property: background-color;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}
.title {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.4),
rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
}
.title h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.my-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  transition-duration: 250ms;


}
.my-button:hover,
.my-button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.features {
  background-color: #ffffff;
}
.features li {
  width: calc((100% - 72px) / 4);
}
.antena{
width: 64px;
height: 64px;
align-items: center;
color: #F4F4FD;
}


.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid  #8E8F99;
border-radius: 4px;
background-color: #F4F4FD;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
overflow: hidden;
}

.section-title {
  gap: 24px;
  display: flex;}
.features h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 8px;
}
.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-section {
  display: flex;
  gap: 24px;
  align-items: center;
}
.team-section li {
  width: calc((100% - 72px) / 4);
}
.colngs {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team li {
  background-color: #ffffff;
}
.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-top: 8px;
}
.team-list {
  padding-top: 32px ; 
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}
.social{
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;
padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
list-style: none;
}
.social li{
display: flex;
justify-content: center;
align-items: center;
background-color: #404bbf;
border-radius: 50%;
height: 40px;
width: 40px;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social{
fill: #F4F4FD;
}
.social li:hover{
  background-color: #31D0AA;
  cursor: pointer;

}


.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.container-portolio-img {
  background: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  width: calc((100% - 48px) / 3);}

  .container-portolio-img:hover{
    cursor: pointer;
  }
  .container-portolio-img:hover .portfolio-item-text{
  transform: translateY(0);
}

.portfolio h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
}
.portfolio h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0;
}

.portfolio-img-text{
position: relative;
overflow: hidden;}
.portfolio-item-text {
 position: absolute;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background-color: #4D5AE5;
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
transform: translateY(100%);
height: 100%;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.discriprion{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}
.portfolio-item-text {
  position: absolute;
font-size: 16px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #F4F4FD;
background-color: #4D5AE5;
top: 0;
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
transform: translateY(100%);
height: 100%;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0; 
}
.logo-footer {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.text-logo-footer {
  color: #4d5ae5;
}
.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-text {
  
  width: 264px;
  padding-top: 16px;
}

.footer-social {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
  list-style: none;
}

.footer-social li {
 display: inline-flex;
justify-content: center;
align-items: center;
background-color: #404bbf;
border-radius: 50%;
width: 40px;
height: 40px;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon{
fill: #F4F4FD;
}
.footer-social li:hover,
.footer-social .link:focus{
  background-color: #31D0AA;
  cursor: pointer;
}
.social-media{
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-bottom: 16px;
}
.bank{
display: flex;
justify-content: flex-start;
}
.media{
padding: 0 120px;
}